#content-container {
    background: #f9f9f9;
}

.active-cons-container {
    margin: 30px;
    overflow-y: scroll;
    width: 100%
}

.active-cons-container .sticky {
    position: sticky;
    top: 0px;
    z-index: 5;
    background: #fafafa;
}

.active-cons-filters {
    padding: 0px 10px 13px 8px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 5px;
}

.active-cons-filters input {
    height: 32px;
    width: 291px;
    margin-right: 5px;
    padding-left: 5px;
}

.active-cons-filters input:focus {
    border: 1px solid steelblue;
    outline: unset;
    padding-left: 6px;
}

.active-cons-filters .filter {
    margin-top: -3px;
    height: 30px;
    padding-top: 3px;
    font-weight: 600;
    border-radius: 2px;
}

.active-cons-filters .reset {
    border-radius: 50%;
    padding: 0px 1px;
    height: 15px;
    width: 15px;
    position: absolute;
    top: 8px;
    left: 278px;
    font-size: 9px;
}

div.active-cons-header {
    border: solid 1px #454545;
    padding: 5px 10px;
    color: #fff;
    background: #454545;
    margin: -1px;
    height: 50px;
}

.active-cons-header-title {
    font-weight: 600;
    font-size: 13px;
    text-align: center;
}

/* div.active-cons-header ~ div div, div.active-cons-header ~ div p {
    overflow: hidden;
} */

div.active-cons-map-container {
    height: 200px;
    width: 288px;
    padding: 0px;
    text-align: center;
    background-color: #f8fbff;
    position: relative;
    margin-top: 1px;
}

.active-cons-map-container span {
    font-size: 8px;
}

div.active-cons-map {
    height:inherit;
    width:inherit;
}

div.active-cons-map > a > img {
    max-width: 100%;
    height: auto;
    z-index: -1;
}

img.active-cons-map-disabled {
    opacity: 0.2;
}

div.active-cons-map > div {
    z-index: 1;
    position: absolute;
    width: inherit;
    padding: 0 1px 0 4px;
    height: auto;
    top: 175px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
}

div.active-cons-map > div > span {
    display: inline-block;
}

div.active-cons-stubs {
    border-bottom: solid 1px #ddd;
    display: flex;
    padding: 10px;
}

.active-cons-header.status-ok, .hover-feature-title-bar.status-ok {
    background: #9EE50F;
    color: #4A6F00;
    border: 1px solid #649600;
}

.card-grid-item:hover .active-cons-header.status-ok {
    border: 1px solid #25476A;
    border-bottom: 1px solid #649600;
}

.active-cons-header.status-late, .hover-feature-title-bar.status-late {
    background: #CD0074;
    color: #fff;
    border: 1px solid #7D0047;
}

.card-grid-item:hover .active-cons-header.status-late {
    border: 1px solid #25476A;
    border-bottom: 1px solid #7D0047;
}

#map-popup .status-warning .hover-feature-title {
    color: #9B9B00;
}

#map-popup .status-ok .hover-feature-title {
    color: #4A6F00;
}

#map-popup .status-late .hover-feature-title{
    color: #fff;
}

.active-cons-header.status-warning, .hover-feature-title-bar.status-warning {
    background: #FFFF1A;
    color: #9B9B00;
    border: 1px solid #bbb;
}

.card-grid-item:hover .active-cons-header.status-warning {
    border: 1px solid #25476A;
    border-bottom: 1px solid #bbb;
}

div.active-cons-stub-left {
    flex-grow: 1;
    border-right: solid 1px #ddd;
    text-align: center;
    width: 120px;
}

div.active-cons-stub-right {
    flex-grow: 1;
    text-align: center;
    width: 150px;
    padding-left: 3px;
}

div.ep-tools-title > div {
    font-size: 15px;
    padding: 12px 0px 0px 12px;
}

div.active-cons-stub-val {
    font-size: 13px;
    font-weight: 500;
    color: #25476A;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.active-cons-stub-label {
    font-size: 11px;
    color: #777;
}

.active-cons-stub-summary {
    font-size: 12px;
    color: #727272;
    height: 116px;
    padding: 10px 15px;
}

.osm-credit {
    padding-left: 50px;
}

.active-cons-stub-summary-text {
    width: 265px;
    overflow: hidden;
    height: 98px;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
}

div.active-cons-hover-loading {
    position: absolute;
    font-size: 36px;
    align-self: center;
    /* display: inline-block; */
    /* text-align: center; */
    height: 55%;
    margin-left: 30%;
    text-align: center;
}

.active-cons-hover-loading i {
    display: inline-block;
}

.active-cons-table {
    padding-top: 5px;
}

.active-cons-table input {
    margin-top: -8px;
}

.active-cons-table label {
    margin-top: -3px;
}

.active-cons-table p {
    max-width: 600px;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active-cons-table tbody tr {
    background: #fff;
}

.active-cons-table tbody tr:nth-child(odd) {
    background: #F5FAFE;
    border-bottom: 1px solid #D3E5F4;
}

.active-cons-table .btn-group {
    margin-top: -5px;
}

.active-cons-table .row:first-child {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.active-cons-table td {
    margin-top: 3px;
}

.active-cons-footer {
    background: #444;
}

.active-cons-map .map-credit a.mapboxgl-ctrl-logo {
    margin: -5px 0 -3px 3px;
}
a.mapboxgl-ctrl-logo {
    height: 17px;
    width: 170px;
}

.active-cons-table-container {
    padding: 20px 0px;
}

.active-cons-table-clip-field {
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active-consultations-table-header {
    background: steelblue;
    color: #ddd;
}

table.dataTable thead .sorting_asc:after {
    color: #eee;
    opacity: 1;
}

table.dataTable thead .sorting:after {
    color: #eee;
    opacity: 1;
}

.active-consultations-table-header tr:first-child:hover {
    background-color: steelblue !important;
}

.active-consultations-sort {
    position: absolute;
    right: 100px;
    top: 0px;
}

div.dataTables_wrapper div.dataTables_filter {
    text-justify: inherit;
    float: right;
    margin-right: 140px;
}

.active-consultations-display {
    position: absolute;
    right: 20px;
    top: -3px;
    z-index: 300;
}

.active-consultations-display .btn {
    margin-right: -20px;
}

.cons .ep-tools-right {
    background: #f2f2f2;
    position: absolute;
    right: 0px;
    height: 49px;
}

.cons-owner-title-panel {
    padding: 0px 0px;
}

.cons-owner-title {
    padding: 15px;
    font-weight: 600;
}