
<div class="padded-workflow-step">
    <div class="workflows-get-tile-value card-component"><h4 data-bind="">Select A Management Activity</h4>
        <!--ko if: resourceDisplayName() -->
        <div class="card col-xs-12" style="max-width: 615px; padding-left:10px; padding-right:5px">
         <input class="form-control input-lg widget-input row" disabled data-bind="textInput: resourceDisplayName"></input>
        </div>
        <!-- /ko -->
        <!--ko ifnot: resourceDisplayName() -->
        <div>
            <!-- ko component: {
                name: 'resource-instance-select-widget',
                params: {
                    loading: loading,
                    form: $data,
                    value: resValue,
                    pageVm: $root,
                    graphids: graphids,
                    disabled: disableResourceSelection
                }
            } --><!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
    <!-- ko if: card() -->
    <div>
        <div data-bind="component: {
            name: cardComponentLookup[card().model.component_id()].componentname,
            params: {
                card: card(),
                tile: tile(),
                provisionalTileViewModel: provisionalTileViewModel,
                reviewer: reviewer,
                loading: loading,
                form: $data,
                pageVm: $root
            }
        }">
        </div>
    </div>
    <!-- /ko -->
</div>
